<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948167491315-p86i4kb0so71ua9r8c8d91f08b23altv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948167491315-p86i4kb0so71ua9r8c8d91f08b23altv</string>
	<key>API_KEY</key>
	<string>AIzaSyC4NEIdDhAZGl0MuyQV6DuzaUyz0T2wk4k</string>
	<key>GCM_SENDER_ID</key>
	<string>948167491315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applicationPaperwork</string>
	<key>PROJECT_ID</key>
	<string>sch-app-e839b</string>
	<key>STORAGE_BUCKET</key>
	<string>sch-app-e839b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948167491315:ios:af18508ed5f1eda4910186</string>
	<key>DATABASE_URL</key>
	<string>https://sch-app-e839b-default-rtdb.firebaseio.com</string>
</dict>
</plist>